<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>The Powder Project</title>
  </head>
  <body>
    <div class="wrapper">
      <header class="">
        <h1 class="">
          <a href="/" class="">The Powder Project</a>
        </h1>
        <nav>
          {{!-- {{#if loggedIn}}
          <button class="dropbtn" id="logout">Logout</button>
          {{else}} --}}
          <a href="/login">Login</a>
          {{!-- {{/if}} --}}
          <div class='dropdown'>
          <button onclick="myFunction()" class="dropbtn" id="Resorts">Mountain Resorts</button>
          <div id="myDropdown" class="dropdown-content">
            <a href="/resorts/1">Alta Ski Area</a>
            <a href="/resorts/2">Snowbird</a>
            <a href="/resorts/3">Powder Mountain</a>
            <a href="/resort/4">Brighton</a>
            <a href="/resort/5">Deer Valley</a>
          </div>
          </div>
          <button id="logout" class="btn-no-style">Logout</button>
        </nav>
      </header>
      <main>
        {{{body}}}
      </main>
      <footer>
        Thanks for visiting!
      </footer>
    </div>
    {{!-- {{#if loggedIn}} --}}
      <script src="/javascript/logout.js"></script>
    {{!-- {{/if}} --}}

  </body>

<script src="/javascript/dropmenu.js"></script></html>