<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>The Powder Project</title>
  </head>
  <body>
    <div class="wrapper">
      <header class="">
        <h1 class="">
          <a href="/" class="">The Powder Project</a>
        </h1>
        <nav>
          {{#if loggedIn}}
          <button class="dropbtn" id="logout">Logout</button>
          {{else}}
          <button class="dropbtn">
          <a href="/login">Login</a>
          </button>
          {{/if}}
          <div class='dropdown'>
          <button onclick="myFunction()" class="dropbtn" id="Resorts">Mountain Resorts</button>
          <div id="myDropdown" class="dropdown-content">
            <a href="/api/resorts/1">Alta Ski Area</a>
            <a href="/api/resorts/2">Snowbird</a>
            <a href="/api/resorts/3">Powder Mountain</a>
          </div>
          </div>
        </nav>
      </header>
      <main>
        {{{body}}}
      </main>
      <footer>
        Thanks for visiting!
      </footer>
    </div>

  </body>

  <script>
    /* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown menu if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
  </script>
</html>