<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>The Powder Project</title>
  </head>
  <body>
    <div class="wrapper">
      <header class="">
        <h1 class="">
          <a href="/" class="">The Powder Project</a>
        </h1>
        <nav>
          <button class="btn-no-style" id="logout">Logout</button>
          <a href="/login">MyTechBlog</a>

          <button class="btn-no-style" id="logout">Mountain Resorts</button>

        </nav>
      </header>
      <main>
        {{{body}}}
      </main>
      <footer>
        Thanks for visiting!
      </footer>
    </div>

  </body>
</html>