<div class="homepage-content-list">
        <section class="homepage-content">
            <h2 class="">The Powder Project Mission</h2>
            <div class="title">
                <p class="">{{title}}</p>
                <p class="">{{content}}</p>  
            </div>
        </section>
</div>