<article class="resort">
  <div class="resort-title">
    <h1 class="">The Science of Snow</h1>

    <img src="https://www.google.com/imgres?imgurl=https%3A%2F%2Fs.yimg.com%2Fuu%2Fapi%2Fres%2F1.2%2FgCM35mL09fTKdCTsrxFPEA--~B%2FZmk9ZmlsbDtweW9mZj0wO3c9NjQwO2g9MzYwO3NtPTE7YXBwaWQ9eXRhY2h5b24-%2Fhttps%3A%2F%2Fs.yimg.com%2Fhd%2Fcp-video-transcode%2Fprod%2F2021-10%2F26%2F61788b6424ffa92aa292d690%2F61788b6424ffa92aa292d691_o_U_v2.png&imgrefurl=https%3A%2F%2Fnews.yahoo.com%2Futah-ski-resort-opening-dates-231012319.html&tbnid=TjRt7qLUEN-Q0M&vet=12ahUKEwjtwrL6x_rzAhUCUM0KHW93B5AQMygAegUIARCtAQ..i&docid=5OEmXJwGgYveMM&w=640&h=360&itg=1&q=opening%20ski%20dates%20for%20utah&ved=2ahUKEwjtwrL6x_rzAhUCUM0KHW93B5AQMygAegUIARCtAQ" alt="Anticipated Opening Dates" class="">
      <div class="">
        <a href="/resort/1">Alta Ski Area</a>
      </div>
      <div class="">
        <a href="/resort/2">Snowbird</a>
      </div>    
      <div class="">
        <a href="/resort/3">Powder Mountain</a>
      </div>
</article>


