<div class="post-list">
        <section class="post">
            <h2 class="">Alta Ski Area</h2>
            <div class="title">
                {{#blockName}}
                <p class="">{{Content}}</p>
                {{/blockName}}
                <span>({{Content}})</span>
            </div>
            <div>
                <a href="/comment/{{id}}" class="">{{comments.length}} comment(s)</a>
            </div>
            
        </section>
</div>