:root {
    --primary : rgb(255, 255, 255);
    --primary-opacity : rgb(255, 255, 255, .75);
    --primary-variation-a : rgb(235, 243, 243);
    --primary-variation-b : rgb(197, 197, 197);
    --secondary : rgb(0, 0, 107);
    --secondary-variation-a : rgb(44, 44, 255);
    --secondary-variation-b : rgb(133, 133, 253);
    --terciary : black;
}

.opacity {
    background-color : var(--primary-opacity);
    border-radius: 5px;
}

* {
    text-align: center;
}

body {
    width: 100%;
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
}

header {
    background-color : var(--primary);
    width: 100%;
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
}

header h1 {
    text-align: center;
}


nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* background-color: var(--primary-variation-b); */
}

/* Dropdown Button */
button {
    background-color: #3498DB;
    color: var(--primary);
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
  
/* Dropdown button on hover & focus */
button:hover, .button:focus {
    background-color: #2980B9;
    border-radius: 5px;
}
  
/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    border-radius: 5px;
  }
  
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}
  
/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

main {
    background-color : var(--primary-variation-a);
    width: 100%;
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
}

nav a, nav a:visited {
    background-color: #3498DB;
    color: var(--primary);
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

a {
    text-decoration: none;
    color : var(--secondary);
}

/* a:visited {
    color : var(--secondary-variation-b)
} */

a:hover {
    color : var(--secondary-variation-a);
}

nav a:hover, nav a:focus {
    background-color: #2980B9;
    color: var(--primary);
}

.post {
    text-align: center;
}

form {
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

form div {
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

footer {
    background-color : var(--primary);
    width: 100%;
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
}


